.checkbox-item {
  margin-bottom: 24px;
}

.checkbox-item__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  text-transform: none;
  font-weight: 700;
}

.checkbox-item__input {
  display: none;
}

.checkbox-item__label::before {
  content: "";
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 23px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.checkbox__icon {
  position: absolute;
  z-index: 3;
  left: 17px;
  top: 20px;
  display: none;
}

.checkbox-item__input:checked ~ .checkbox-item__label .checkbox__icon {
  display: block;
}

.checkbox-item__label:hover {
  &::before {
    background-color: @input-color-hover;
  }
}

.checkbox-item__label:active {
  &::before {
    background-color: @input-color-active;
  }

  .checkbox__icon {
    opacity: 0.3;
  }
}

.checkbox-item__label--disabled::before {
  opacity: 0.2;
}

.checkbox-item__label--disabled .checkbox__icon {
  opacity: 0.2;
}

.checkbox-item__label--disabled:hover::before {
  background-color: #f2f2f2;
}

.checkbox-item__label--disabled:active .checkbox__icon {
  opacity: 0.2;
}
