.feature {
  position: relative;
  padding-left: 50px;
  padding-top: 9px;
  margin-bottom: 19px;
}

.feature__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: @main-color;
}

.feature--food {
  padding-top: 11px;
}

.feature--souvenirs .feature__icon {
  left: 4px;
}

.feature--food .feature__icon {
  top: 5px;
  left: -1px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 14px;
}

.feature__text {
  margin: 0;
  line-height: 21px;
}

@media @tablet-widths {
  .feature {
    width: 256px;
    padding-left: 0;
    padding-top: 136px;
    padding-bottom: 20px;
    text-align: center;
  }

  .feature__icon,
  .feature--souvenirs .feature__icon,
  .feature--food .feature__icon {
    left: 50%;
    transform: translateX(-50%);
  }

  .feature--housing .feature__icon {
    top: 38px;
    width: 75px;
    height: 72px;
  }

  .feature--souvenirs .feature__icon {
    top: 35px;
    width: 64px;
    height: 75px;
  }

  .feature--food .feature__icon {
    top: 41px;
    width: 77px;
    height: 68px;
  }

  .feature__title {
    margin-bottom: 22px;
  }

  .feature__text {
    width: 163px;
    margin: 0 auto;
  }

  .feature--housing {
    order: 1;
  }

  .feature--souvenirs {
    order: 3;
  }

  .feature--food {
    order: 2;
  }

  .feature--food .feature__text {
    width: 155px;
  }
}

@media @desktop-widths {
  .feature {
    width: 400px;
    padding-bottom: 40px;
  }

  .feature__text,
  .feature--food .feature__text {
    width: 285px;
  }

  .feature--souvenirs .feature__text {
    width: 215px;
  }
}
