.feature {
  padding-top: 9px;
  padding-left: 50px;
  margin-bottom: 19px;
  outline: 1px solid red;
}

.feature--food {
  padding-top: 11px;
}

.feature__title {
  margin-top: 0;
  margin-bottom: 14px;
}

.feature__text {
  margin: 0;
  line-height: 21px;
}

@media @tablet-widths {
  .feature {
    width: 256px;
    padding-left: 0;
    padding-top: 136px;
    padding-bottom: 20px;
    text-align: center;
  }

  .feature__title {
    margin-bottom: 22px;
  }

  .feature__text {
    width: 163px;
    margin: 0 auto;
  }

  .feature--housing {
    order: 1;
  }

  .feature--souvenirs {
    order: 3;
  }

  .feature--food {
    order: 2;
  }

  .feature--food .feature__text {
    width: 155px;
  }
}

@media @desktop-widths {
  .feature {
    width: 400px;
    padding-bottom: 40px;
  }

  .feature__text,
  .feature--food .feature__text {
    width: 285px;
  }

  .feature--souvenirs .feature__text {
    width: 215px;
  }
}
