.features {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 21px;
}

@media @tablet-widths {
  .features {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
}

@media @desktop-widths {
  .features {
    margin-bottom: 0;
  }
}
