.form {
  padding-bottom: 40px;
}

.form--review {
  margin-top: 1px;
}

.form__group {
  margin-top: -1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 25px;
  border-top: @inner-border;
  border-bottom: @inner-border;
}

.form__group--emotions {
  border: 0;
}

.form__group-title {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  font-weight: 700;
}
