.intro {
  .standard-block;
  .paddings-tb(34px; 26px);
}

.intro--top {
  .paddings-tb(40px; 29px);
}

.intro__title {
  margin: 0;
}

.intro__text {
  margin: 0;
}

.intro--main .intro__text {
  line-height: 26px;
}
