.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  .standard-block;
  .paddings-tb(9px; 9px);
  font-size: @font-size-bigger;
  line-height: 40px;
  .link;
}
