.map__booking {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 27px;
  padding-bottom: 50px;
  text-align: center;
}

.map__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 26px;
}

.map__text {
  margin-bottom: 37px;
}

.map__canvas {
  height: 350px;
  background-color: #f4f3f0;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {
  .map__canvas {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media @tablet-widths {
  .map__booking {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .map__title {
    margin-bottom: 32px;
    font-size: 30px;
  }

  .map__text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
  }

  .map__btn {
    width: 458px;
    margin-left: auto;
    margin-right: auto;
  }

  .map__canvas {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {
  .map__canvas {
    background-image: url("../img/bg-map-tablet@2x.jpg");
  }
}


@media @desktop-widths {
  .map__booking {
    padding-bottom: 68px;
  }

  .map__text {
    margin-bottom: 48px;
  }

  .map__canvas {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}

@media (min-width: 1200px) and (min-resolution: 144dpi),
       (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .map__canvas {
    background-image: url("../img/bg-map-desktop@2x.jpg");
  }
}
