.map__booking {
  .standard-block();
  .paddings-tb(30px; 49px);
}

.map__title {
  font-size: 21px;
  line-height: 26px;
}

.map__canvas {
  background: #f4f3f0 url("../img/bg-map-mobile@1x.jpg") no-repeat center;
  border: none;
}
