.page-wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

@media @tablet-widths {
  .page-wrapper {
    width: 768px;
  }
}

@media @desktop-widths {
  .page-wrapper {
    width: 1200px;
  }
}
