.photo {
  width: 280px;
  margin-top: -1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 16px;
  border-top: @main-border;
  border-bottom: @main-border;
}

.photo:nth-child(3),
.photo:nth-child(4) {
  padding-top: 24px;
}

.photo__link {
  display: block;
}

.photo__about {
  padding-top: 8px;
}

.photo__col {
  margin-bottom: 8px;
}

.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo__author {
  text-transform: none;
}

.photo__likes {
  display: flex;
  align-items: center;
  margin: 0;
}

.photo__likes-btn {
  display: block;
  width: 22px;
  height: 21px;
  margin-right: 15px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  outline: 1px solid red;
}

.photo__likes-count {
  font-weight: 700;
}

@media @tablet-widths {
  .photo {
    width: 50%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
    outline: 1px solid black;
  }

  .photo--big {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red; /*временно*/
  }

  .photo:nth-child(3),
  .photo:nth-child(4) {
    padding-top: 0;
  }

  .photo__img {
    display: block;
    height: 267px;
  }

  .photo--big .photo__img {
    height: 400px;
  }

  .photo__about {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: #f2f2f2;
    outline: 1px solid blue;
  }

  .photo--big .photo__about {
    padding-right: 20px;
  }

  .photo:nth-child(3) .photo__about {
    padding-right: 36px;
  }

  .photo__col {
    margin-bottom: 0;
  }

  .photo__title {
    width: 100%;
  }

  .photo__author {
    margin-right: auto;
  }

  .photo__likes {
    margin-left: auto;
  }

  .photo__likes-btn {
    margin-right: 10px;
  }
}

@media @desktop-widths {
  .photo {
    width: 400px;
    padding: 0;
  }

  .photo--big {
    width: 100%;
    outline: 1px solid red;
  }

  .photo__about {
    position: relative;
    z-index: 1;
    margin-top: -81px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.3);
  }

  .photo__title {
    color: #ffffff;
  }
}
