.photo {
  margin-top: -1px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: @inner-border;
  border-bottom: @inner-border;
}

.photo__title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.photo__author {
  text-transform: none;
}

.photo__likes {
  margin: 0;
}

.photo__likes-count {
  font-weight: 700;
}
