.promo {
  .standard-block();
  background-color: #4176a1;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
                    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 103%, cover;
  background-position: 50% 100%, 50% 50%;
}

.promo img {
  margin-top: 52px;
  margin-bottom: 67px;
}

.promo--main img {
  margin-top: 89px;
  margin-bottom: 59px;
}
