.reason {
  color: #ffffff;
}

.reason__about {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #ffffff;
  background-color: @main-color;
}

.reason--first .reason__about {
  padding-top: 78px;
  background-color: @main-color;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 105%;
}

.reason--secondary .reason__about {
  padding-top: 27px;
  padding-bottom: 29px;
  color: @base-font-color;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.reason:last-child .reason__about {
  border: none;
}

.reason--first .reason__title {
  margin-bottom: 8px;
}

.reason__title {
  margin-top: 0;
  margin-bottom: 7px;
  color: #ffffff;
}

.reason--secondary .reason__title {
  color: #000000;
}

.reason__text {
  margin: 0;
  line-height: 21px;
}

.reason--secondary .reason__text {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.reason__number {
  position: relative;
  display: block;
  margin-bottom: 13px;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
  }
  &::before {
    left: 50%;
    margin-left: -25px;
  }
  &::after {
    right: 50%;
    margin-right: -25px;
  }
}

.reason--first .reason__number {
  margin-bottom: 14px;
}

.reason--secondary .reason__number {
  &::before,
  &::after {
    background-color: #979797;
  }
}

.reason__img {
  display: block;
}

@media @tablet-widths {
  .reason {
    display: flex;
    width: 100%;
  }

  .reason__title {
    width: 151px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .reason__number {
    margin-bottom: 18px;
  }

  .reason--first .reason__about {
    padding-top: 44px;
    padding-bottom: 44px;
    background-image: none;
  }

  .reason--first .reason__title {
    margin-bottom: 10px;
  }

  .reason--first .reason__number {
    margin-bottom: 20px;
  }

  .reason--secondary {
    width: 256px;
  }

  .reason__about,
  .reason--secondary .reason__about {
    width: 216px;
    padding-top: 44px;
    padding-bottom: 47px;
    margin-right: 0;
    margin-left: 0;
  }

  .reason--secondary .reason__about {
    padding-bottom: 45px;
  }

  .reason__text {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
  }

  .reason--secondary .reason__text {
    width: 158px;
    padding-left: 0;
    padding-right: 0;
  }

  .reason__photo {
    width: 512px;
  }

  .reason__img {
    height: 256px;
  }
}

@media @desktop-widths {
  .reason__about {
    padding-top: 50px;
  }

  .reason--first .reason__about {
    padding-top: 51px;
  }

  .reason__text {
    width: 215px;
  }

  .reason--first .reason__text {
    width: 270px;
  }

  .reason--secondary .reason__text {
    width: 285px;
  }

  .reason--secondary {
    width: 400px;
  }

  .reason__about,
  .reason--secondary .reason__about {
    width: 360px;
  }

  .reason--secondary .reason__about {
    padding-bottom: 65px;
  }

  .reason__photo {
    width: 800px;
  }

  .reason__img {
    width: 800px;
    object-fit: cover;
  }

  .reason:nth-child(3) .reason__photo {
    order: -1;
  }
}
