.reason {
  color: #ffffff;
}

.reason__about {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #ffffff;
  background-color: @main-color;
}

.reason--first .reason__about {
  padding-top: 80px;
  background-color: @main-color;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 105%;
}

.reason--secondary .reason__about {
  padding-top: 27px;
  padding-bottom: 25px;
  color: @base-font-color;
  background-color: #eeeeee;
  border-bottom: 1px solid #d6d6d6;
}

.reason:last-child .reason__about {
  border: none;
}

.reason__title {
  margin: 0;
  color: #ffffff;
}

.reason--secondary .reason__title {
  color: #000000;
}

.reason__text {
  margin: 0;
  line-height: 21px;
}

.reason__img {
  display: block;
}

@media @tablet-widths {
  .reason--first .reason__about {
    padding-top: 48px;
    background-image: none;
  }

  .reason {
    display: flex;
    width: 100%;
  }

  .reason--secondary {
    width: 256px;
  }

  .reason__about,
  .reason--secondary .reason__about {
    width: 216px;
    padding-top: 48px;
    padding-bottom: 47px;
    margin-right: 0;
    margin-left: 0;
  }

  .reason__photo {
    width: 512px;
    outline: 1px solid black; /*временно*/
  }
}

@media @desktop-widths {
  .reason--secondary {
    width: 400px;
  }

  .reason__about,
  .reason--secondary .reason__about {
    width: 380px;
  }

  .reason__photo {
    width: 800px;
  }

  .reason:nth-child(3) .reason__photo {
    order: -1;
  }
}
