.social-btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  .link();
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn--fb {
  width: 47px;
}

.social-btn__icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #ffffff;
}

.social-btn:active .social-btn__icon {
  opacity: 0.3;
}

.social-btn--tw .social-btn__icon {
  top: 17px;
  left: 14px;
}

.social-btn--fb .social-btn__icon {
  top: 14px;
  left: 19px;
}

.social-btn--yt .social-btn__icon {
  top: 17px;
  left: 13px;
}
